<h2>Friends</h2>
<turbo-frame id="friends">
  <ul>
    <% @user.friends.each do |friend| %>
      <li><%= friend.email %> <%= button_to 'Remove', friend_path(friend), method: :delete, data: { confirm: 'Are you sure?' }, form: { 'data-turbo-frame': 'all-users' } %></li>
    <% end %>
  </ul>
</turbo-frame>

<h2>All Users</h2>
<turbo-frame id="all-users">
  <ul>
    <% @all_users&.each do |user| %>
      <li>
        <%= user.email %>
        <% unless current_user.friends.include?(user) || current_user == user %>
        <%= form_with(url: friends_path(friend_id: user.id), method: :post, 'data-turbo-frame': 'friends') do |form| %>
            <%= form.submit 'Add Friend' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</turbo-frame>
