<% if current_user%>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" arx>
            <%= current_user.email %>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria_labelledby="navbarDropdown">
            <% if current_user.email == "admin@a.com" %>  
                <li><%= link_to "New Post", "posts/new", class: "dropdown-item", disabled: true %></li>
            <% end %>
            <li><%= link_to "New PostLOgout", destroy_user_session_path, method: "delete", class: "dropdown-item" %></li>
        
            <%= link_to "Do not click", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { confirm: "Are you sure?" } %>



            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Another Action</a></li>
            <li><hr class="dropdown-divider"</li>
            <li><%= button_to "Sign out", destroy_user_session_path, method: "delete", class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#"></a>Someting Else Here</a></li>
        </ul>
    </li>
<% else %>
    <li><a class="nav-item">  
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
    </li>
    <li><a class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
<% end %>



