<!-- app/views/posts/show.html.erb -->
<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
    <%= User.find(1).email %>
    <%= User.find(post.user_id).email %>
    <%= @current_user %>
  </p>

<%= link_to 'Hide Comments', root_path(@comment, view_comments: 0) unless @view_comments.zero? %>
<%= link_to 'Show Comments', root_path(@comment, view_comments: 1) if @view_comments.zero? %>

<% if @view_comments.nonzero? %>

<!-- Render existing comments -->
<h2>Comments</h2>

<% if controller_name == 'posts' && action_name == 'show' %>
  <%= post.comments.find(1).content %>
  <% if @comments.length <= 2 %>
    <% @comments.each do |comment| %>
    <br>
      <%= comment.content %> 
    <% end %>
  <% else %>
    <div id="showComments">
      <% @comments.first(2).each do |comment| %>
      <br>
        <%= comment.content %>
      <% end %>
    </div>
    <button id="showMore">Show More</button>

    <script>
      document.getElementById('showMore').addEventListener('click', function() {
        var commentsDiv = document.getElementById('showComments');
        <% @comments.drop(2).each do |comment| %>
          var newComment = document.createElement('div');
          newComment.innerHTML = '<%= j comment.content %>';
          commentsDiv.appendChild(newComment);
        <% end %>
        this.style.display = 'none'; // Hide the "Show More" button
      });
    </script>
  <% end %>



    <% @comments.each do |comment| %>
    <ul>
      <% comment.attributes.each do |attribute, value| %>
        <li><strong><%= attribute %>:</strong> <%= value %></li>
      <% end %>
    </ul>
  <% end %>


    <% @comments.each do |comment| %>
    <br>
      <%= comment.content %>
    <% end %>

  <%= render 'comments/cform', commentable: @post %>
<% end %>



  <%# <%= render 'comments/cform', commentable: @post %> %>

</div>
