<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class: 'btn btn-outline-warning' %>
    </p>
  <% end %>
</div>
<%= link_to "New post", new_post_path %>
<%= link_to "New post", new_post_path, class: 'btn btn-primary' %>

<% if user_signed_in? %>
<%= current_user.email %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>


